

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Tektur:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}


        body {
                font-family: "Tektur", sans-serif;
                line-height: 1.7;
                color: black;

        }

        h1,h2,h3,h4,h5,h6 {
            font-weight: 700;
            color:#092032;
        }

        a {
            color: #092032;
            text-decoration: none;
            transition: all 0.4s ease;
            font-weight: 500;
        }

        img {
            width: 100%;
        }


        .bg-cover {
            background-position: center !important;
            background-size: cover !important;
        }

        .top-nav {

            background-color: 	#3F51B5;
            padding-top: 5px;
            padding-bottom: 5px;

        }

        .top-nav p {
            margin-bottom: 0%;
            display: inline-block;
            margin-right: 16px;
        }

        .top-nav i,
        .top-nav span {
            vertical-align: middle;
        }

        .social-links a {
            width: 34px;
            height: 34px;
            background-color: rgba(255, 255, 255, 0.3);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: white;
            border-radius: 100%;
        }

        .social-links a:hover {
            background-color:#3F51B5;
            color:#092032;
        }

        .navbar {
            box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
        }

        .navbar .navbar-nav .nav-link:hover,
        .navbar .navbar-nav .nav-link.active {
            color: #3F51B5;
        }

        .navbar-brand {
            font-weight: 700;
            font-size: 26px;
            color: #092032;
        }

        .navbar-brand:hover {

            color: #131d58;
        }




        .navbar-brand span {
            color: #3F51B5;
        }


        .btn {
            padding: 9px 24px;
            font-weight: 500;
        }
        

        .btn-brand {
            color: black;
            background-color: #3F51B5;
            border-color: #3F51B5;
            
        }

        .btn-brand:hover {
            color: white;
            background-color: #131d58;
        }


        .carousel-item img {

            width: 250px;
            height: 500px;
        }

        .carousel-item .overlay{

            
            width: 100%;
            position: absolute;
            height: 100%;
            display: block;
            content: "";
            top: 0;
            left: 0;
            opacity: 0.7;
            background-image:linear-gradient(rgba(9, 32, 50, 0.5), rgba(9, 32, 50, 0.5));
            
            
        

        }  

        .carousel-caption {

            bottom: 180px;
            padding-right: 100px;
            padding-left: 100px;
            
        }     
        .carousel-control-next img {

            width: 50px;
            height: 50px;
            
        }

        .carousel-control-prev img {

            width: 44px;
            height: 44px;
            
        }

        section {
            padding-top: 80px;
            padding-bottom: 80px;

        }


        .intro {
            margin-bottom: 40px;
        }
        
        .intro h6 {
            color: #3143a5;
            font-size: 30px;
            margin-bottom: 70px;
            margin-top: 20px;
            
        }

        .intro p {
            max-width: 500px;
            margin: auto;
        }


        .info-box {
            align-items: center;
               
        }


        .info-box img {
            width: 70px;
            background-color: #3F51B5;
            margin-right: 25px;
            float: left;
            border-radius: 10px;
            border: 3px solid #092032;
        }

        .about img {

            border: 3px solid #092032;
            border-radius: 50px;
            padding: 5px;
            width: 350px;
            margin-left: 50px;
        
        }

        #milestone {

            background-image:linear-gradient(rgba(9, 32, 50, 0.9), rgba(9, 32, 50, 0.9)),url(../img/banner5.jpg);

        }

        #milestone .display-4 {
            font-weight: 700;
            
        }

        #milestone .row {
            
            justify-content: space-evenly

        }


        .service-box {

            padding: 32px;
            box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.137);
            text-align: center;

        }

        .service-box img {

            width: 65px;
            background-color: #4169E1;
            margin-right: 25px;
            border-radius: 50px;
            border: 3px solid #092032;
        
        }

        .service-box h5 {

            margin-top: 24px;
            margin-bottom: 12px;
            font-size: 20px;
        }


        .project {
            position: relative;
        }

        .project .overlay {

            position: absolute;
            width: 100%;
            height: 240px;
            background: linear-gradient(to bottom, rgba(9, 32, 50, 0.0),rgba(9, 32, 50, 0.8));
            bottom: 0;
            left: 0;
        }


        .project .content {

            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 32px;
        }

        .project h1, 
        .project h6 {

            color: #ffff;
        }

        .project h1 {

            font-size: 25px;
            letter-spacing: 1px;
        }

        .project h6 {

            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }


        .project h6::before {

            content: '';
            height: 2px;
            width: 24px;
            background-color: #3F51B5;
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;
        }

         #portfolio p {

            margin-bottom: 40px;

        }


        .team-member {

            text-align: center;
        }

        .team-member .img-wrapper {

            position: relative;
            overflow: hidden;
            

        }

        .team-member img {

            width: 350px;
            border: 3px solid #131d58;
            border-radius: 50px;
            padding: 5px;
        }

        .team-member .overlay {

            position: absolute;
            height: 100%;
            width: 100%;
            top: -10%;
            left: 0;
            background-color: rgba(19, 29, 88, 0.8);
            transition: all 0.4s ease;
            opacity: 0;
            border-radius: 50px;

        }

        .team-member .social-links {

            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
            transition: all 0.4s ease;
            opacity: 0;
        }

        .team-member:hover .overlay {

            opacity: 1;
            top: 0;
            overflow: hidden;
        }


        .team-member:hover .social-links {

            opacity: 1;
            top: 50%;
        }

        .team-member h5 {

            margin-top: 24px;
        }


        #reviews {

            background-image:linear-gradient(rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)),url(../img/banner7.jpg);
        }

        .review {

            max-width: 900px;
            text-align: center;
            margin: auto;
        }

        .review img {

            width: 150px !important;
            border-radius: 1000px;
            margin: auto;
        }

        .review h4, 
        .review p {

            color: #fff;
        }

        .review small {

            color: #3143a5;
            
        }

        .review p {

            margin-top: 28px;
        }

        .review h4 {

            margin-top: 16px;
        }

        .owl-dot.active span {

            background-color: #3143a5 !important;
        }

        a:hover {

            color: #3143a5;
        }

        .blog-post a {

            font-weight: 700;
        }

        .blog-post {

            position: relative;
            box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.137);
            align-items: center;
            padding: 32px;
        }

        .blog-post .tag {

            padding: 4px 12px;
            position: absolute;
            background-color: #3F51B5;
            color: #ffff;
            border-radius: 100px;
            left: 20px;
            top: 20px;

        }

        .tag:hover {

            color: #092032;
        }


        .blog-post img {

            margin-bottom: 12px;
        }

        .blog-post h4 {

            margin-top: 12px;
            margin-bottom: 12px;
        }

        .blog-post small {

            color: #3143a5;
            text-decoration: underline;
            text-transform: uppercase;
        }

        footer {
            padding-top: 80px;
            padding-bottom: 40px;
            color: #fff;
            text-align: center;
            background-image:linear-gradient(rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)),url(../img/model.jpg);
        }

        .footer-top {

            margin-bottom: 40px;
        }

        footer .navbar-brand {

            color: #fff;
            margin-bottom: 24px;
            display: inline-block;
        }

        footer .social-links a {

            margin-left: 5px;
            margin: 5px;
        }

        .footer-bottom {
            
            border-top: 1px solid rgba(255, 255, 255, 0.08) ;
            padding-top: 20px;
        }


        .form-control:focus {

            box-shadow: none;
            border-color: #4169E1;
        }



    